# 编辑器/IDE 配置文件
.idea/
.vscode/
*.swp
*.swo
.DS_Store       # Mac 系统隐藏文件
Thumbs.db       # Windows 系统隐藏文件

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Symbolication related
**/app.*.symbols

# Obfuscation related
**/app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release
.trae/
